name: BUILD
permissions:
  contents: read

on:
  push:
  schedule:
    - cron:  '1 */8 * * *'

jobs:
  buildAUR:
    permissions:
      contents: write
      id-token: write
      attestations: write
    strategy:
      matrix:
        repos:
          - aw-awatcher
          - aw-watcher-media-player
          - carapace
          - dracut-numlock
          - fcitx5-pinyin-custom-pinyin-dictionary
          - flclash-bin
          - google-chrome-dev
          - heidisql-qt6
          - ion-git
          - linuxqq-appimage
          - murex
          - outline
          - pacman-hook-kernel-install
          - pacman-log-orphans-hook
          - pls-git
          - pocket-id-bin
          - pgadmin4-desktop
          - systemd-cron
          - ukibak
          - uutils-diffutils
          - uutils-findutils
          - visual-studio-code-insiders-bin
          - wechat-appimage
          - yabsnap
        include:
          - repos: aw-awatcher
            preinstall-pkgs: "libxkbcommon"
          - repos: heidisql-qt6
            preinstall-pkgs: "unzip"
      fail-fast: false
      
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - uses: ./build-aur-action
      with:
        repo-name: ${{ matrix.repos }}
        preinstallPkgs: ${{ matrix.preinstall-pkgs }}

    - uses: actions/attest-build-provenance@v3
      with:
        subject-path: "./*/*.pkg.tar.zst"
    
    - uses: actions/upload-artifact@v6
      with:
        path: ./*/*.pkg.tar.zst
        name: ${{ matrix.repos }}
        if-no-files-found: error
        
    - uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        tag: "packages"
        artifacts: "./*/*.zst"
        token: ${{ secrets.GITHUB_TOKEN }}
        
  uploadToOneDrive:      
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: always()
    needs: 
      - buildAUR

    steps:
      - uses: actions/checkout@v6
      
      - uses: actions/download-artifact@v7
        id: download

      - name: Display structure of downloaded files
        run: ls -R ${{ steps.download.outputs.download-path }}
      
      - uses: ./create-db-and-upload-action
        with:
          RCLONE_CONFIG_CONTENT: ${{ secrets.RCLONE_CONFIG }}
          RCLONE_CONFIG_NAME: gdrive
          dest_path: /archrepo
          repo_name: repo
          gpg-privatekey: ${{ secrets.gpg_private_key }}
          local_path: ${{ steps.download.outputs.download-path }}

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          tag: "packages"
          artifacts: "./upload_packages/*.sig,./upload_packages/*.files,./upload_packages/*.db,./upload_packages/*.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
